BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterStruct: true
  AfterEnum: false
  AfterNamespace: false
  SplitEmptyFunction: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
PointerAlignment: Right
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<Q'
    Priority: 2
  - Regex: '^<.*\.(h|hpp)>'
    Priority: 3
  - Regex: '^<'
    Priority: 4
NamespaceIndentation: None
FixNamespaceComments: true
